/*透明主题*/
.ghost .card {
  background: none !important;
}

.ghost .resource-name {
  color: #fff;
}

.ghost .search-wrapper {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 0 10px 1px rgba(0, 0, 0, 0.09);
}

.ghost .ant-input-group-addon {
  background: none !important;
}

.ghost .search .ant-input-search-button {
  color: white !important;
  border-color: #f5f5f5;
}

.ghost .search .ant-input-search-button:hover {
  border-color: #40a9ff;
}

.ghost .ant-btn-ghost:hover, .ghost .ant-btn-ghost:focus {
  color: #40a9ff !important;
}

.ghost .ant-input-affix-wrapper {
  background: none !important;
  border-color: #f5f5f5 !important;
}

.ghost .ant-input-affix-wrapper:hover {
  border-color: #40a9ff !important;
}

.ghost .ant-input {
  background: none !important;
  color: #fff;
}

.ghost .ant-card-grid {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.ghost .ant-card-grid:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09) !important;
}

.ghost .ant-btn-ghost {
  color: #fff;
}
